<div class="navbar">
    <img src="static/images/logo.png" alt="Logo" class="navbar-logo">
    <a href="https://liceliftersoceancounty.com">HOME</a>
    <a href="https://liceliftersoceancounty.com/treatments">TREATMENT</a>
    <a href="https://liceliftersoceancounty.com/insurance">INSURANCE</a>
    <a href="https://liceliftersoceancounty.com/appointments">APPOINTMENTS</a>
    <a href="https://liceliftersoceancounty.com/reviews">REVIEWS</a>
    <a href="https://liceliftersoceancounty.com/products">PRODUCTS</a>
    <a href="https://liceliftersoceancounty.com/faqs">FAQS</a>
    <a href="https://liceliftersoceancounty.com/blog">BLOG</a>
    <a href="https://liceliftersoceancounty.com/contact" style="margin-right:120px;">CONTACT</a>
    
</div>